<div class="container-fluid">
  <h1 [align]="'center'" style="color:#cc66ff">Contact Our</h1>
  <h1 [align]="'center'">Customer Support Center</h1>

  <!-- <img src="stockformimage.jpg" class="rounded float-start" alt="Laptop photo"> -->

  <br>
  <h2 [align]="'center'">Contact Information</h2>
  <p [align]="'center'">Please fill out your contact Information below</p>

  <form class="row g-3 needs-validation" [formGroup]="contactForm" novalidate>
    <!-- name -->
    <div class="form-group">
      <label>Name</label>
      <div class="row">
          <div class="col-md-6">
            <input [class.is-invalid] = "contactForm.get('firstname')?.invalid && contactForm.get('firstname')?.touched" type="text" class="form-control" placeholder="First name" formControlName="firstname" required>
            <small [class.d-none]="contactForm.get('firstname')?.valid || contactForm.get('firstname')?.untouched" class="text-danger">First name is required. Only letters are allowed</small>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
    </div>  
    
    <!-- email -->
      <div class="col-md-5">
        <label>Email</label>
        <input [class.is-invalid] = "contactForm.get('email')?.invalid && contactForm.get('email')?.touched" type="text" class="form-control" placeholder="Email Address" formControlName="email" required="">
        <small [class.d-none]="contactForm.get('email')?.valid || contactForm.get('email')?.untouched" class="text-danger">Email is required</small>
      </div>   

    <!-- phone -->
    <div class="col-md-5">
      <label>Phone</label>
      <input [class.is-invalid] = "contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched" type="number" class="form-control" placeholder="Contact Number" formControlName="phone" required>
      <small [class.d-none]="contactForm.get('phone')?.valid || contactForm.get('phone')?.untouched" class="text-danger">Phone is required</small>
    </div>   

    <!-- city -->
    <div class="col-md-4">
      <label>City</label>
      <input [class.is-invalid] = "contactForm.get('city')?.invalid && contactForm.get('city')?.touched" type="text" class="form-control" placeholder="Enter City" formControlName="city">
      <small [class.d-none]="contactForm.get('city')?.valid || contactForm.get('city')?.untouched" class="text-danger">City is required. Name should contain at least 4 characters</small>
    </div>    

    <!-- state -->
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected disabled value="">Select State</option>
        <option>Maharashtra</option>
        <option>Gujarat</option>
        <option>Uttar Pradesh</option>
      </select>
    </div>    

    <!-- zipcode -->
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="number" class="form-control" id="inputZip" placeholder="ZIP code">
    </div>    

    <!-- comments -->
    <div class="col-md-12">
      <label>Comments</label>
      <input [class.is-invalid] = "contactForm.get('comments')?.invalid && contactForm.get('comments')?.touched" type="textarea" class="form-control" placeholder="Enter your feedback" formControlName="comments">
      <small [class.d-none]="contactForm.get('comments')?.valid || contactForm.get('comments')?.untouched" class="text-danger">Comments are required and should contain at least 30 characters</small>
    </div>  

    <!-- t&c -->
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>

    <!-- submit button -->
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>

  </form>
</div>
<router-outlet />